<div class="mt-4">
    <h3>Khóa học của tôi</h3>
    <span><a href="/me/trash/courses"><i class="fas fa-trash"></i>Khóa học đã xóa ({{deletedCount}})</a></span>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">
                  <a href="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                  </a>
                  Tên khóa học
                </th>
                <th scope="col">Trình độ</th>
                <th scope="col">Thời gian tạo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>@{{this.createdAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
                    <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}"
                        data-target="#confirm-delete-course-modal">Xóa</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    Bạn chưa đăng khóa học nào.
                    <a href="/courses/create">Đăng khóa học</a>
                </td>

            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div id="confirm-delete-course-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xoá khóa học</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn muốn xóa khóa học này?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-confirm-delete-course" type="button" class="btn btn-danger">Xác nhận xóa</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<form name="delete-course-form" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var courseId;
        var btnConfirmDeleteCourse = document.getElementById('btn-confirm-delete-course');
        var deleteCourseForm = document.forms['delete-course-form'];

        //when dialog confirm clicked
        $('#confirm-delete-course-modal').on('show.bs.modal', function(event) {
            var button = $(event.relatedTarget);
            courseId = button.data('id');
        });

        btnConfirmDeleteCourse.onclick = function() {
            deleteCourseForm.action = '/courses/' + courseId + '?_method=DELETE';
            deleteCourseForm.submit();
        }

    });
</script>
